---
layout: default
title: the tuxcat
---
<!-- Index content layout, which is the blog front page -->

<div class="hero-div">
  <div class="satellites-fixed">
    {% include hero-satellites2.svg %}
  </div>
  <div><p>something here</p></div>
  <div class="hero-div-logo-background">
    <div class="hero-div-logo">
      {% include tuxcat-box.svg %}
    </div>
  </div>
  <div><p>A tech blog</p></div>
</div>


<div class="main-content-div">

  <div class="post-box-wrapper">
    
    {% for post in site.posts %}
    <div class="post-box">
      <a href="{{ post.url }}" class="post-box-link">
       <div style="background-image: {{ post.bg }};" class="post-box-image"></div>
      </a>
      
      <div class="post-box-content">

        <a href="{{ post.url }}" class="post-box-content-title">
          <h1 class="post-box-h1">{{ post.title | downcase }}</h1>
        </a>

        <div class="post-box-meta">
          <a href="{{ post.url }}" class="post-box-meta-a">{{ post.date | date_to_string }}</a>
          <div class="text-sep">-</div>
          <a href="{{ post.url }}" class="post-box-meta-aut">{{ post.author }}</a>
          <!-- <div class="text-sep">-</div> -->
          <!-- <a href="{{ post.url }}" class="post-box-meta-cat">cat</a> -->
        </div>

        <div class="post-box-text">
          {{ post.excerpt }}
        </div>

        <a href="{{ post.url }}" class="post-box-more">
          leia mais
        </a>
        
      </div>
    </div>
    {% endfor %}
  </div>
</div>

