<nav class="navbar">
    <ul class="navbar-nav">
        
        <li class="logo">
            <a href="/" class="nav-logo">
                <img src="/assets/images/g6470.png">
                <span class="logo-text"> tuxcat </span>
            </a>
        </li>
        
        {% for item in site.data.navigation %}
            <li class="nav-item">
                <a href="{{ item.link }}" class="nav-link">
                    {% if item.logo == nil %} 
                        {{ item.name }} 
                    {% else %}
                        {{ item.logo }}
                        <span class="link-text"> {{ item.name }} </span>
                    {% endif %}
                </a>
            </li>
        {% endfor %}

    </ul>

</nav>