
.about-wrapper {
    // border: 3px solid violet;
    display: flex;
    flex-direction: row-reverse;
    overflow: hidden;
    justify-content: center;
    align-items: stretch;
}

.about-text {
    border-radius: 10px;
    position: static;
    padding: 0px 50px;
    margin-left: auto;
    margin-right: auto;
    
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.about-text h1 {
    font-family: 'Major Mono Display', monospace;
    text-transform: lowercase;
    line-height: 1.7em;
}

.about-text p {
    margin-bottom: 50px;
}

.about-photo {
    width: 50%;
    min-height: 100vh;
    flex: 0 0 auto;

    background-color: var(--bgc-black);
    background-image: url(/assets/images/IMG_6654.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    background-attachment: local;
    display: block;

    animation: deblurring 1.7s ease-in-out forwards;
}

@keyframes deblurring {
    0%   { filter: blur(10px) grayscale(80%);}
    100% { filter: blur(0px) grayscale(80%);}
}

@media only screen and (max-width: 1200px) {

    .about-wrapper {
        display: flex;
        flex-direction: column;
    }

    .about-photo {
        width: 100%;
        min-height: 45vh;
    }
}