
.hero-div-posts {
    height: 300px;
    width: auto;
    margin: 0;

    overflow: hidden;

    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    // Background properties
    background-color: var(--bgc-lightgrey);
    background-image: url(/assets/images/hero-no-sat.svg);
    background-position: right top;
    background-repeat: no-repeat;

}

.hero-div-logo-background-b {
    overflow: hidden;
}

.hero-div-logo-b {
    width: 350px;
    margin: 0px;
}

.hero-div-logo-b h1 {
    
    border: 3px solid yellowgreen;
    color: whitesmoke;
    font-size: 50px;
    text-align: center;
    filter: opacity(0%);
    animation: fadein 2s ease-in 0s forwards;
}

