// font-family: 'Bentham', serif;
// font-family: 'Inconsolata', monospace;
// font-family: 'Major Mono Display', monospace;
// font-family: 'Ubuntu', sans-serif;

:root {
    font-size: 16px;
    font-family: 'Inconsolata', monospace;
    --text-primary: #b6b6b6;
    --text-secondary: #ececec;
    --bg-primary: #23232e;
    --bg-secondary: #141418;

    --tcl-black: #1a1a18;
    --tcl-grey: #cccccc;
    --tcl-darkpink: #cc638e;
    --tcl-lightpink: #fb7eb5;
    --tcl-greypink: #c57f7f;
    --tcl-red: #BF212E;
}

body {
    color: black;
    background-color: white;
    margin: 0;
    padding: 0;
}

main, blog{
    margin-left: 5rem;
    padding: 1rem;
}
