// font-family: 'Bentham', serif;
// font-family: 'Inconsolata', monospace;
// font-family: 'Major Mono Display', monospace;
// font-family: 'Ubuntu', sans-serif;

* {
    box-sizing: border-box;
}

:root {

    --text-primary: #b6b6b6;
    --text-secondary: #ececec;
    --bg-primary: #23232e;
    --bg-secondary: #141418;
    --transition-speed: 500ms;

    // Tuxcat colors
    --tcl-black: #1a1a18;
    --tcl-grey: #cccccc;
    --tcl-darkpink: #cc638e;
    --tcl-lightpink: #fb7eb5;
    --tcl-greypink: #c57f7f;
    --tcl-red: #BF212E;

    // background color
    --bgc-one: #F2F2F2;
    --bgc-two: #BFBFBF;
    --bgc-three: #8C8C8C;
    --bgc-four: #262626;
    --bgc-five: #0D0D0D;
    
}

body {
    font-size: 16px;
    font-family: 'Inconsolata', monospace;
    line-height: 1.2;

    background-color: whitesmoke;
    color: black;
    
    margin: 0;
    padding: 0;
    min-height: 100%;
    text-align: justify;
    text-justify: auto;

    // background-image: linear-gradient(120deg, rgba(245,245,245,1) 25%, var(--bgc-two) 75%);
    // background-repeat: no-repeat;
    // background-position: center;
    // background-size: cover;
    // background-attachment: fixed;

}

// main {
//     margin-left: 5rem;
//     margin-bottom: 5rem;
//     padding: 1rem 2rem;
// }

.flex-wrapper {
    position: static;
    height: 100%;  
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: stretch;   
    background-color: transparent;
}

.div-for-navbar {  
    position: static;
    display: block;
    width: 210px;
    // padding-left: 0;
    // padding-right: 0;
    flex: 0 1 auto;
    text-align: center;
}

.div-for-main {
    border: 4px dashed blue;
}
