// font-family: 'Bentham', serif;
// font-family: 'Inconsolata', monospace;
// font-family: 'Major Mono Display', monospace;
// font-family: 'Ubuntu', sans-serif;

:root {
    font-size: 16px;
    font-family: 'Inconsolata', monospace;
    --text-primary: #b6b6b6;
    --text-secondary: #ececec;
    --bg-primary: #23232e;
    --bg-secondary: #141418;

    // Tuxcat colors
    --tcl-black: #1a1a18;
    --tcl-grey: #cccccc;
    --tcl-darkpink: #cc638e;
    --tcl-lightpink: #fb7eb5;
    --tcl-greypink: #c57f7f;
    --tcl-red: #BF212E;

    // background color
    --bgc-one: #F2F2F2;
    --bgc-two: #BFBFBF;
    --bgc-three: #8C8C8C;
    --bgc-four: #262626;
    --bgc-five: #0D0D0D;
}

body {   
    color: black;
    background-color: whitesmoke;
    margin: 0;
    padding: 0;
    height: 100%;

    background-image: linear-gradient(120deg, rgba(245,245,245,1) 25%, var(--bgc-two) 75%);
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    background-attachment: fixed;
}

main, blog{
    margin-left: 5rem;
    padding: 1rem;
}
