<!doctype html>
<html>
  <head>
    <meta charset="utf-8">
    <title>{{ page.title }}</title>
    <link rel="stylesheet" href="/assets/css/styles.css">
    <link rel="preconnect" href="https://fonts.gstatic.com">
    <link href="https://fonts.googleapis.com/css2?family=Bentham&family=Inconsolata:wght@300&family=Major+Mono+Display&family=Ubuntu:wght@300&display=swap" rel="stylesheet">
  </head>
  <body>
    {% include navigation.html %}
    <main>
      {{ content }}
    </main>
  </body>
</html>